// ARTICLE AND ASIDE FOR BLOG.HTML
.article {
    background: $white;
    .articleBlog {
        display: flex;
        padding: 4rem 0;
        .allAsides {
            width: 44%;
            margin-right: 1rem;
            .asideAboutWillow,
            .asideRecent {
                background: white;
            }
            .asideAboutWillow {
                margin-bottom: 1rem;
                img {
                    width: 100%;
                    padding: 1.5rem;
                }
                .asideFirst {
                    width: 100%;
                    padding: 0 1.5rem 1.5rem 1.5rem;
                }
            }
            .asideRecent {
                padding: 1.5rem;
                ul {
                    padding-left: 1rem;
                    margin-bottom: 0;
                    li {
                        font-size: 15px;
                        list-style-type: disc;
                        line-height: 23px;
                    }
                }
            }
        }
    }
    & h2 {
        font-size: 1rem;
    }
    & a {
        text-decoration: none;
        color: $greengrey;
        font-weight: bold;
    }
    // END OF ASIDES

    // START OF ARTICLES
        .allArticles {
            width: 100%;
            .monday,
            .sameStyles {
                background: white;
                padding: 1.5rem;
                margin-bottom: 1rem;
            }
            .monday {
                border-bottom: 5px solid $greengrey;
            }
            & p:last-child {
                margin-bottom: 0;
            }
            .sameStyles {
                display: flex;
                img {
                    width: 4rem;
                    height: 100%;
                }
                .tuesWed {
                    padding-left: 1rem;
                    p {
                        margin: 0;
                    }
                }
            }
        }
}
// END OF ARTICLES AND ASIDE FOR BLOG.HTML

// ASIDE SECTION FOR CONTACT.HTML
.lastPage {
    background: $white;
    .lastContact {
        display: flex;
        padding: 4rem 0;
        .lastAside {
            width: 35%;
            height: 100%;
            background: white;
            margin-right: 1.5rem;
            padding: 1.5rem;
        }
        & i {
            color: $pine;
            padding-right: 1rem;
        }
        & p {
            margin: 0;
        }
        & p:first-child {
            font-weight: bold;
            padding: 1rem 0;
        }
    }
}
// END OF ASIDE SECTION FOR CONTACT.HTML

// ARTICLE-ASIDE MEDIA QUERIES
    // FOR BLOG.HTML
@media (max-width: 888px) {
    .articleBlog {
        flex-wrap: wrap;
    }
    .article .articleBlog .allAsides {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
    // FOR CONTACT.HTML
@media (max-width: 952px) {
    .lastPage .lastContact {
        flex-wrap: wrap;
    }
    .lastPage .lastContact .lastAside {
        font-size: 3rem;
        width: 23rem;
        order: 1;
        margin-top: 3rem;
    }
}