// GENERAL HEADER
header {
    color: $white;
    background-size: cover;
    height: 50vh;
    text-transform: uppercase;
    ul {
        background: $pine;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 1rem 0;
    }
            a {
                font-family: $montFont;
                font-size: 18px;
                font-weight: bold;
                color: $white;
                padding: 0 1rem;       
            }
            .anchorWillow {
                font-family: $abrilFont;
                font-size: 32px;
            }   
    h1 {
        font-size: 80px;
        padding-top: 11.6rem;
    }   
}
// HEADER FOR BLOG
.headerBlog {
    background-image: url(./assets/blog-image-1.jpg); 
}
// HEADER FOR CONTACT
.headerContact {
    background-image: url(./assets/contact-image-1.jpg);
}
// HEADER FOR HOME
.headerHome {
    background: $pine;
    height: 75vh;
            .anchorHome {
                color: $accent;
            }
    .headerDiv {
        display: flex;
        position: relative;
        .dailyMus {
            img {
                padding-top: 8rem;
                width: 75%;
            }
        }
        h1 {
            font-size: 6rem;
            font-weight: normal;
            position: absolute;
            padding-top: 4.5rem;
            left: 2.5rem;
        }        
        .headerImage {
            width: 19.5rem;
            position: relative;
            margin-left: 23rem;
            margin-top: 1.5rem;
            img {
                width: 100%;
                position: absolute;
                z-index: 1;
            }
            .boxHeader {
                width: 19.5rem;
                height: 26.5rem;
                background: white;
                position: absolute;
                top: 15px;
                left: 15px;
            }
        }
    }
}

