// GENERAL HEADER
header {
    color: $white;
    background-size: cover;
    height: 50vh;
    text-transform: uppercase;
    ul {
        background: $pine;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 1rem 0;
    }
            a {
                font-family: $montFont;
                font-size: 18px;
                font-weight: bold;
                color: $white;
                padding: 0 1rem;       
            }
            .anchorWillow {
                font-family: $abrilFont;
                font-size: 32px;
            } 
    i.fa-bars {
        display: none;
    }  
    h1 {
        font-size: 80px;
        padding-top: 11.6rem;
    }   
}
// END OF GENERAL HEADER

// HEADER FOR BLOG.HTML
.headerBlog {
    background-image: url(./assets/blog-image-1.jpg); 
}
// END OF HEADER FOR BLOG.HTML

// HEADER FOR CONTACT.HTML
.headerContact {
    background-image: url(./assets/contact-image-1.jpg);
}
// END OF HEADER FOR CONTACT.HTML

// HEADER FOR HOME.HTML
.headerHome {
    background: $pine;
    height: 65vh;
            .anchorHome {
                color: $accent;
            }
    .headerDiv {
        display: flex;
        position: relative;
        .dailyMus {
            img {
                width: 100%;
                padding-top: 8rem;
            }
        }
        h1 {
            font-size: 5.5rem;
            font-weight: normal;
            position: absolute;
            padding-top: 9rem;
            left: 2.5rem;
        }        
        .headerImage {
            width: 19.5rem;
            margin-left: 23rem;
            margin-top: 1.5rem;
            img {
                width: 100%;
                box-shadow: 12px 13px;        
            }
        }
    }
}
// END OF HEADER FOR HOME.HTML

// HEADER MEDIA QUERIES
@media (max-width: 860px) {
    .headerDiv img {
        display: none;
    }
}

@media (max-width: 680px) {
    header ul {
        display: none;
    }
    header i.fa-bars {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        padding: 1rem;
    }
    .headerHome .headerDiv h1 {
        font-size: 4rem;
        padding-left: 1rem;
        position: static;
    }
}
// END OF HEADER MEDIA QUERIES