// SECTION .ABOUT
    .whosWillow {
        text-align: center;
        background: $white;
        padding: 5rem 0;
    }
        .favBuckContainer {
            display: flex;
            flex-wrap: wrap;
            .imageBox1,
            .imageBox2 {
                width: 48%;
                .bridge,
                .lotus {
                    width: 100%;
                    position: relative;
                }
                .bridge {
                    top: -40px;
                    box-shadow: -88px 16px 0 1px $greengrey,
                                14px 17px 0 0 $greengrey;
                }
                .lotus {
                    bottom: -20px;
                    box-shadow: 130px 16px 0 1px $greengrey, 
                                20px 16px 0 1px $greengrey;
                }
            }
        }
            .favourite,
            .bucket {
                width: 48%;
            }
            .favourite {
                padding: 3rem 0 2rem 4rem;
            }
            .bucket {
                padding: 1.5rem 4rem 2.5rem 0;
                text-align: right;
            }
// END OF SECTION .ABOUT

// SECTION .BLOG
    .blogFirst {
        background: $white;
        .blogFirstContainer {
            display: flex;
            padding: 4rem 0;
            .yellowAndPine {
                width: 22%;
                position: relative;
                .imgForWillow {
                    width: 100%;
                    position: relative;
                    box-shadow: 11px 12px $greengrey;
                }
            }
            .journey {
                width: 77%;
                padding-left: 5rem;
            }
        }
    }
    .blogSecond {
        background: url(./assets/home-image-5.jpg);
        background-size: cover;
        background-position: center;
        height: 45vh;
    }
    .blogThird {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
        img {
            width: calc((100% / 3) - 1rem);
        }
        & img:nth-of-type(2) {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
    }
// END OF SECTION .BLOG

// SECTION CONTACT
.contact {
    background: $white;
    padding: 4rem 0;
    .contactContainer {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .photos,
        .belowAbout,
        .belowBlog,
        .belowContact {
            width: 50%;
            padding-left: 3rem;
        }
        .photos::before {
            @include sample("\f03e");
            top: -8px;
            left: 5px;
        }
        .belowAbout::before {
            @include sample("\f007");
            margin-top: -8px;
            margin-left: -2.7rem;
        }
        .belowBlog::before {
            @include sample("\f26c");
            left: 5px;
            margin-top: -6px;
        }
        .belowContact::before {
            @include sample("\f095");
            margin-top: -8px;
            margin-left: -2.7rem;
        }
        .belowBlog,
        .belowContact {
            padding-top: 2rem;
        }
    }
}
// END OF ALL SECTION .CONTACT

// SECTION MEDIA QUERIES
@media (max-width: 860px) {
    .favBuckContainer .imageBox1,
    .favBuckContainer .imageBox2,
    .favourite,
    .bucket {
        width: 100%;
    }
    .bucket {
        order: 10;
        padding-top: 4rem;
    }
    .blogFirstContainer {
        flex-wrap: wrap;
    }
    .blogFirst .blogFirstContainer .yellowAndPine {
        width: 100%;
    }
    .blogFirst .blogFirstContainer .yellowAndPine .imgForWillow {
        width: 50%;
    }
    .blogFirst .blogFirstContainer .journey {
        width: 100%;
        padding-top: 3rem;
        padding-left: 0;
    }
    .contact .contactContainer .photos,
    .contact .contactContainer .belowAbout,
    .contact .contactContainer .belowBlog,
    .contact .contactContainer .belowContact {
        width: 100%;
    }
    .belowAbout {
        padding-top: 2rem;
    }
}
