// SECTION .ABOUT
.about {
    // for visual
    .whosWillow {
        text-align: center;
        background: $white;
        padding: 5rem 0;
    }
    .favBuck {
        // display: flex;
        // flex-wrap: wrap;
        .favBuckContainer {
            display: flex;
            flex-wrap: wrap;
            .imageBox1,
            .imageBox2 {
                width: 48%;
                position: relative;
                .bridge,
                .lotus {
                    width: 100%;
                    position: inherit;
                    z-index: 1;
                }
                .bridge {
                    top: -40px;
                }
                .lotus {
                    bottom: -20px;
                }
                .pine1,
                .pine2 {
                    width: 124%;
                    height: 98%;
                    background: $pine;
                    position: absolute; 
                }
                .pine1 {
                    right: -18px;
                    top: -22px;
                }
                .pine2 {
                    left: 15px;
                    bottom: -25px;
                }
            }
        }
            .favourite,
            .bucket {
                width: 48%;
            }
            .favourite {
                padding: 3rem 0 2rem 4rem;
            }
            .bucket {
                padding: 1.5rem 4rem 2.5rem 0;
                text-align: right;
            }
    }
}
// SECTION .BLOG
.blog {
    // for visual
    .blogFirst {
        background: $white;
        .blogFirstContainer {
            display: flex;
            padding: 4rem 0;
            .yellowAndPine {
                width: 22%;
                position: relative;
                .imgForWillow,
                .boxForWillow {
                    width: 100%;
                }
                .imgForWillow {
                    position: inherit;
                    z-index: 1;
                }
                .boxForWillow {
                    background: $pine;
                    height: 100%;
                    position: absolute;
                    bottom: -10px;
                    left: 15px;
                }
            }
            .journey {
                width: 77%;
                padding-left: 5rem;
            }
        }
    }
    .blogSecond {
        background: url(./assets/home-image-5.jpg);
        background-size: cover;
        background-position: center;
        height: 45vh;
    }
    .blogThird {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
        img {
            width: calc((100% / 3) - 1rem);
        }
        & img:nth-of-type(2) {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
    }
}
// SECTION CONTACT
.contact {
    background: $white;
    padding: 4rem 0;
    .contactContainer {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .photos,
        .belowAbout,
        .belowBlog,
        .belowContact {
            width: 50%;
            padding-left: 3rem;
        }
        .photos::before {
            @include sample("\f03e");
            top: -8px;
            left: 5px;
        }
        .belowAbout::before {
            @include sample("\f007");
            margin-top: -8px;
            margin-left: -2.7rem;
        }
        .belowBlog::before {
            @include sample("\f26c");
            left: 5px;
            margin-top: -6px;
        }
        .belowContact::before {
            @include sample("\f095");
            margin-top: -8px;
            margin-left: -2.7rem;
        }
        .belowBlog,
        .belowContact {
            padding-top: 2rem;
        }
    }
}
// END OF ALL SECTIONS


