// SECTION .ABOUT
.about {
    // delete if empty
    .whosWillow {
        text-align: center;
        background: $white;
        padding: 5rem 0;
    }
    .favBuck {
        // display: flex;
        // flex-wrap: wrap;
        .favBuckContainer {
            display: flex;
            flex-wrap: wrap;
            .imageBox1,
            .imageBox2 {
                width: 48%;
                position: relative;
                .bridge,
                .lotus {
                    width: 100%;
                    position: inherit;
                    z-index: 1;
                }
                .bridge {
                    top: -40px;
                }
                .lotus {
                    bottom: -20px;
                }
                .pine1,
                .pine2 {
                    width: 124%;
                    height: 98%;
                    background: $pine;
                    position: absolute; 
                }
                .pine1 {
                    right: -18px;
                    top: -22px;
                }
                .pine2 {
                    left: 15px;
                    bottom: -25px;
                }
            }
        }
            .favourite,
            .bucket {
                width: 48%;
            }
            .favourite {
                padding: 3rem 0 2rem 4rem;
            }
            .bucket {
                padding: 1.5rem 4rem 2.5rem 0;
                text-align: right;
            }
    }
}



// SECTION .BLOG
.blog {
    // delete if empty
    .blogFirst {
        background: $white;
        .blogFirstContainer {
            display: flex;
            padding: 4rem 0;
            .yellowAndPine {
                width: 22%;
                position: relative;
                .imgForWillow,
                .boxForWillow {
                    width: 100%;
                }
                .imgForWillow {
                    position: inherit;
                    z-index: 1;
                }
                .boxForWillow {
                    background: $pine;
                    height: 100%;
                    position: absolute;
                    bottom: -10px;
                    left: 15px;
                }
            }
            .journey {
                width: 77%;
                padding-left: 5rem;
            }
        }
    }
}
