.about {
    // margin-top: 5rem;
    .whosWillow {
        text-align: center;
        background: $white;
        padding: 5rem 0;
    }
    .favBuck {
        // display: flex;
        // flex-wrap: wrap;
        .container {
            display: flex;
            flex-wrap: wrap;
            .imageBox1,
            .imageBox2 {
                width: 50%;
                position: relative;
                .bridge,
                .lotus {
                    width: 90%;
                    position: absolute;
                    z-index: 1;
                }
                .bridge {
                    top: -29px;
                }
                .pine1 {
                    width: 27.7rem;
                    height: 14rem;
                    background: $pine;
                    position: absolute;
                    left: -89px;
                    top: -15px;
                }
                .lotus {

                }
            }
        }
        .favourite,
        .bucket {
            width: 50%;
            margin: 2.5rem 0;
        }
        
    }
}