// VARIABLES

    // COLORS
$accent: #e4a436;
$greengrey: #709b6b;
$pine: #345231;
$black: #1f1f1f;
$white: #f6f6f6;

    // FONTS
$abrilFont: 'Abril Fatface', cursive;
$montFont: 'Montserrat', sans-serif;


// IMPORTS 
@import "articleAside";
@import "header";
@import "mixins";
@import "sectionHome";
@import "setup";
@import "formsAndFooter";


// GENERAL STYLES
html {
    font-size: 125%;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

body {
    font-family: $montFont;
}

li {
    list-style: none;
    a {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
button {
    font-family: $abrilFont;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

button {
    font-size: 15px;
    background: $accent;
    border: none;
    padding: 0.5rem 1rem;
}

p {
    font-size: 15px;
    line-height: 23px;
}